


    <select name="zip">
        <option value=""><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select2" /></option>

        <option value="0" {f:if(condition: '{filterZip} == 0', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz0" /></option>
        <option value="1" {f:if(condition: '{filterZip} == 1', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz1" /></option>
        <option value="2" {f:if(condition: '{filterZip} == 2', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz2" /></option>
        <option value="3" {f:if(condition: '{filterZip} == 3', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz3" /></option>
        <option value="4" {f:if(condition: '{filterZip} == 4', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz4" /></option>
        <option value="5" {f:if(condition: '{filterZip} == 5', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz5" /></option>
        <option value="6" {f:if(condition: '{filterZip} == 6', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz6" /></option>
        <option value="7" {f:if(condition: '{filterZip} == 7', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz7" /></option>
        <option value="8" {f:if(condition: '{filterZip} == 8', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz8" /></option>
        <option value="9" {f:if(condition: '{filterZip} == 9', then: 'selected="selected"')}><f:translate key="LLL:EXT:hellocode_potema_branches/Resources/Private/Language/locallang.xlf:tx_hellocodepotemabranches_domain_model_potemaserviceprovider.form_select.plz9" /></option>

    </select>

