<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="providerTitle">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerTitle" /><br />
<label for="providerSubtitle">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_subtitle" />
</label><br />
<label for="providerGeneraldistributor">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_generaldistributor" />
</label><br />
	<f:form.textfield property="providerSubtitle" /><br />
<label for="providerStreet">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_street" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerStreet" /><br />
<label for="providerZip">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_zip" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerZip" /><br />
<label for="providerCity">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerCity" /><br />
<label for="providerCountry">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_country" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerCountry" /><br />
<label for="providerPhone">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_phone" />
</label><br />
	<f:form.textfield property="providerPhone" /><br />
<label for="providerFax">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_fax" />
</label><br />
	<f:form.textfield property="providerFax" /><br />
<label for="providerMobile">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_mobile" />
</label><br />
	<f:form.textfield property="providerMobile" /><br />
<label for="providerEmail">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="providerEmail" /><br />
<label for="providerUrl">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_url" />
</label><br />
	<f:form.textfield property="providerUrl" /><br />
<label for="providerLat">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_lat" />
</label><br />
	<f:form.textfield property="providerLat" /><br />
<label for="providerLng">
	<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_lng" />
</label><br />
	<f:form.textfield property="providerLng" /><br />
</html>