<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-hellocode-potema-branches" >
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_title" />
		</td>
		<td>
		{potemaServiceProvider.providerTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_subtitle" />
		</td>
		<td>
		{potemaServiceProvider.providerSubtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_generaldistributor" />
		</td>
		<td>
		{potemaServiceProvider.providerGeneraldistributor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_street" />
		</td>
		<td>
		{potemaServiceProvider.providerStreet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_zip" />
		</td>
		<td>
		{potemaServiceProvider.providerZip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_city" />
		</td>
		<td>
		{potemaServiceProvider.providerCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_country" />
		</td>
		<td>
		{potemaServiceProvider.providerCountry}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_phone" />
		</td>
		<td>
		{potemaServiceProvider.providerPhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_fax" />
		</td>
		<td>
		{potemaServiceProvider.providerFax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_mobile" />
		</td>
		<td>
		{potemaServiceProvider.providerMobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_email" />
		</td>
		<td>
		{potemaServiceProvider.providerEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_url" />
		</td>
		<td>
		{potemaServiceProvider.providerUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_lat" />
		</td>
		<td>
		{potemaServiceProvider.providerLat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hellocodepotemabranches_domain_model_potemaserviceprovider.provider_lng" />
		</td>
		<td>
		{potemaServiceProvider.providerLng}
		</td>
	</tr>
</table>
</html>